.contents

  .left-contents
    .left-up
      %h2.user-name JIO
      .font-awesomes
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        %i.fa.fa-cog{"aria-hidden" => "true"}
    .left-bottom
      .group-message
        %p.group 早稲田チーム
        %p.message なるほど
      .group-message1
        %p.group フィリピン
        %p.message まだメッセージはありません。
      .group-message2
        %p.group イーストアングリア
        %p.message 明日集合で

  .right-contents
    .right-top
      %p.group-name 早稲田チーム
      %input.editbutton{:type => "submit", :value => "Edit"}/
      %p.members Members:JIO
    .right-middle
      .name-date-text
        %string.name JIO
        %string.date 2017/02/18 13:25:56
        %p.text なるほど
      .name-date-text2
        %string.name soto
        %string.date 2017/02/18 14:01:25
        %p.text じゃあ明日の夜から開始で
    .right-bottom
      .form-send
        %input.form{:placeholder => "type a message", :type => "text"}/
        %input.send-button{:type => "submit", :value => "Send"}














