
li {
  width:190px;
  list-style: none;
 .chat-group-form__search{
  float:left;
 }
 #add_button{
  background-color:#38aef0;
  float:right;
  border:0;
  color:white;
 }
}


#remove_button{
  background-color: red;
  color:black;
  float:right;
  border:0;
}




