  .contents{
    width: 1370px;
    height: 700px;
    .left-contents{
      background-color: #2f3e51;
      width: 300px;
      height: 700px;
      float: left;
      .left-up{
        background-color: #253141;
        height: 100px;
        .user-name{
          font-size: 20px;
          font-family: bold;
          color:white;
          padding-top: 50px;
          padding-left: 20px;
          width: 30px;
          float: left;
        }
        .font-awesomes{
          float: right;
          padding-right:20px;
          .fa{
            color: white;
            padding-top:50px;
            font-size: 20px;
          }
        }
      }
      .left-bottom{
        background-color: #2f3e51;
        .group-message{
          .group{
            color: white;
            font-size: 15px;
            padding-top: 20px;
            padding-left: 20px;
          }
          .message{
            color: white;
            font-size: 11px;
            padding-left: 20px;
            padding-top: 5px;
          }
        }
        .group-message1{
          color: white;
          padding-top: 40px;
          padding-left: 20px;
          .group{
            font-size: 15px;
          }
          .message{
            font-size: 11px;
          }
        }
        .group-message2{
          color: white;
          padding-top: 40px;
          padding-left: 20px;
          .group{
            font-size: 15px;
          }
          .message{
            font-size: 11px;
          }
        }
      }
    }
  .right-contents{
    background-color: gray;
    width: 1070px;
    height: 700px;
    float: right;
    .right-top{
      height: 100px;
      background-color: white;
      border-bottom: solid 1px #eeeeee;
      .group-name{
        font-size: 20px;
        color: #666666;
        padding-top: 30px;
        padding-left: 40px;
        width: 300px;
        float: left;
      }
      .editbutton{
        border: 2px solid #2E9AFE;
        background-color: white;
        color: #2E9AFE;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 40px;
        margin-right: 40px;
        float: right;
      }
      .members{
        font-size: 12px;
        color: #999999;
        padding-left: 40px;
        width: 300px;
      }
    }
    .right-middle{
      height: 500px;
      background-color: #f5fffa;
      .name-date-text{
        padding-top: 46px;
        padding-left:40px;
        .name{
          font-size: 20px;
          font-family: bold;
          color: #434A54;
        }
        .date{
          font-size: 12px;
          font-family: bold;
          color: #999999;
          padding-left: 10px;
        }
        .text{
          font-style: bold;
          font-size: 14px;
          color: #434A54;
          padding-top: 10px;
        }
      }
      .name-date-text2{
        padding-top: 40px;
        padding-left: 40px;
        .name{
          font-size: 20px;
          font-family: bold;
          color:#434A54;
        }
        .date{
          font-size: 12px;
          font-family: bold;
          color: #999999;
          padding-left: 10px;
        }
        .text{
          font-style: bold;
          font-size: 14px;
          color: #434A54;
          padding-top: 10px;
        }
      }
    }
    .right-bottom{
      background-color: #eeeeee;
      height: 100px;
      .form-send{
        padding-top: 25px;
        padding-left: 40px;
        .form{
          height: 50px;
          width: 850px;
          padding-left: 10px;
          position: relative;
        }
        .fa{
          position:relative;
          left:-30px;

        }
        .send-button{
          display: inline;
          border: 2px solid #2E9AFE;
          background-color: #2E9AFE;
          color:white;
          margin-left: 15px;
          height: 50px;
          width:125px;
        }
      }
    }
  }
}



